.cm-s-elegant span.cm-number, .cm-s-elegant span.cm-atom { color: #000; }
.cm-s-elegant span.cm-string { color: rgb(196, 32, 32); }
.cm-s-elegant span.cm-comment { color: #888; }
.cm-s-elegant span.cm-meta { color: #000; }
.cm-s-elegant span.cm-variable { color: #000; }
.cm-s-elegant span.cm-variable-2 { color: #000; }
.cm-s-elegant span.cm-qualifier { color: #000; }
.cm-s-elegant span.cm-keyword { color: rgb(196, 32, 32); }
.cm-s-elegant span.cm-builtin { color: #000; }
.cm-s-elegant span.cm-link { color: #000; }
.cm-s-elegant span.cm-error { background-color: #000; }

.cm-s-elegant .CodeMirror-activeline-background { background: #e8f2ff; }
.cm-s-elegant .CodeMirror-matchingbracket { outline:1px solid rgba(0,0,0,0.15); color:black !important; }

.CodeMirror-lint-mark-error {
    background-position: 0 95%;
    background-repeat: repeat-x;
    background-size: 7px 3px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 10'%3E%3Cpath fill='none' stroke='%23c42020' stroke-width='6' d='M0 8.5c8 0 8-7 16-7s8 7 16 7 8-7 16-7 8 7 16 7' class='st0'/%3E%3C/svg%3E") !important;
    padding-bottom: 5px;
}
.CodeMirror-lint-mark-warning {
    background-position: 0 95%;
    background-repeat: repeat-x;
    background-size: 7px 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='18' version='1' viewBox='0 0 32 18'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath stroke='%23A89542' stroke-width='5' d='M0 15c8 0 8-8 16-8s8 8 16 8'/%3E%3Cpath stroke='%23E0B72A' stroke-width='5' d='M0 11c8 0 8-8 16-8s8 8 16 8'/%3E%3C/g%3E%3C/svg%3E");
    padding-bottom: 5px;
}
.CodeMirror pre.CodeMirror-line {
    padding: 0 8px;
}
.CodeMirror-linenumber {
    padding-left: 0;
}

.CodeMirror-lint-message-error,
.CodeMirror-lint-message-warning,
.CodeMirror-lint-message-type,
.CodeMirror-lint-message-reference {
    padding-left: 20px;
    background-position-y: 2px;
    background-repeat: no-repeat;
}

.CodeMirror-lint-marker-error,
.CodeMirror-lint-message-error {
    background-size: 16px 16px;
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2225%22%20viewBox%3D%22342%20152%2024%2025%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ccircle%20fill%3D%22%23D51717%22%20fill-rule%3D%22evenodd%22%20cx%3D%22354%22%20cy%3D%22164.9775%22%20r%3D%2212%22/%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke-linecap%3D%22square%22%20stroke%3D%22%23FFF%22%20stroke-width%3D%223%22%3E%3Cpath%20d%3D%22M349.0328%20169.9503L359.2832%20159.7M359.5187%20169.9503L349.2684%20159.7%22/%3E%3C/g%3E%3C/svg%3E);
}
.CodeMirror-lint-marker-warning,
.CodeMirror-lint-message-warning {
    background-size: 16px 16px;
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2228%22%20height%3D%2223%22%20viewBox%3D%22375%20153%2028%2023%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M389%20153.34c2.22%200%203.1%201.68%203.1%201.68l9.04%2015.37s1.55%202.54.5%203.94c-1.06%201.4-2.68%201.66-2.68%201.66h-19.53s-2.35-.32-3.2-1.66c-.85-1.35.8-3.95.8-3.95l8.9-15.38s.85-1.68%203.07-1.68z%22%20fill%3D%22%23F3CF00%22%20fill-rule%3D%22evenodd%22/%3E%3Cpath%20fill%3D%22%23544800%22%20fill-rule%3D%22evenodd%22%20d%3D%22M387%20159l.78%209%202.57.03.65-9.03%22/%3E%3Ccircle%20fill%3D%22%23544800%22%20fill-rule%3D%22evenodd%22%20cx%3D%22389%22%20cy%3D%22171.5%22%20r%3D%222%22/%3E%3C/svg%3E);
}
.CodeMirror-lint-marker-type,
.CodeMirror-lint-message-type {
    background-size: 14px 14px;
    background-position-y: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs/%3E%3Cpath fill='%233549CB' fill-rule='nonzero' d='M7.14 16.02c1.41-.03 2.47-.48 3.17-1.37a8.98 8.98 0 001.59-3.12l.26-.7-.68-.24-.29.63a9.9 9.9 0 01-1.12 2.06c-.24.32-.52.59-.85.8-.3.24-.7.35-1.17.35a.97.97 0 01-.8-.41 1.19 1.19 0 01-.35-.85c0-.42.05-.87.17-1.34L9.1 3.76c.56.07 1.34.1 2.33.1 1.18 0 2.05-.3 2.62-.88.54-.56.9-1.4 1.08-2.5h-.58c-.18.45-.5.74-.97.88a5 5 0 01-1.72.2c-.7 0-1.8-.03-3.31-.1-1.49-.04-2.78-.07-3.9-.07-1.31.03-2.3.43-2.97 1.21-.67.8-1.1 1.8-1.25 3H1C1.53 4.33 2.5 3.7 3.91 3.7c.94.02 1.72.05 2.33.1l-1.4 5.38c-.2.7-.36 1.34-.5 1.95a6.32 6.32 0 00-.27 1.76c0 .87.26 1.6.77 2.19.5.6 1.26.92 2.3.95z'/%3E%3C/svg%3E");
}
.CodeMirror-lint-marker-error,
.CodeMirror-lint-marker-warning {
    left: 4px;
    top: 2px;
}


.CodeMirror-lint-markers {
    width: 24px;
}
.CodeMirror-linenumber {
    color: #ccc;
}
.CodeMirror-gutters {
    background: #fff;
}

.CodeMirror {
    z-index: 2;
    font-size: 14px;
}

div.CodeMirror,
div.CodeMirror-lint-tooltip,
#hakana_output {
    font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6em;
}
